h1{
    font-size: 45px;
    line-height: 61px;
}

h1{
    font-family: "Open Sans", sans-serif;
    color:#000;
    font-weight: 300;
}

p,li, label{
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    color: #808080;
}

section{
    padding: 20px 0;
}